<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            ProspectZen
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="icon" href="/assets/favicon.ico" type="image/x-icon"> 
        <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
        <link href="/assets/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/flat-ui.css" rel="stylesheet">
        <link href="/assets/reset.css" rel="stylesheet">
        <link href="/assets/style_forgot_password.css" rel="stylesheet">

        <link href="/assets/mediaqueries_forgot_password.css" rel="stylesheet">
        <script src="/assets/jquery.js"></script>
        <script src="/assets/bootstrap.min.js"></script>
        
        <script type="text/javascript" src="/assets/jquery.inputmask.js"></script>
         <script>
				
			$( document ).ready(function() {
					$("#mobilephone").mask("999-999-9999");
                    					
					<% if session[:errormessage] %>      
		         
		              $('#data_match').html( "Your email or mobile phone does not match."); 
                     
                    <%end%>						
					
				    <% session[:errormessage]=nil %>						
				    
					$('#emailid').focusin(function() { 
					  $('#email_id').html(''); 
					  $('#data_match').html(''); 
					});
					
					
					$('#mobilephone').focusin(function() { 
					  $('#mphone').html(''); 
					  $('#data_match').html(''); 
					});
					
			 al_common();
                
                $(window).resize(function(){
                    al_common();
                });  
					
			});
            
            function al_common(){
                    
                if($(window).width()>767){
               
                    var cla=$("#side_scroll").attr('class');
                    if(cla=="navbar-collapse no-transition collapse in"){
                        $("#side_scroll").removeClass('navbar-collapse no-transition collapse in');
                        $("#side_scroll").addClass("collapse navbar-collapse no-transition");
                    }
                }
                else{
                
                   $("#side_scroll").addClass("collapse navbar-collapse no-transition");
                }
                
                           
  }		
					
			function dataValidation()
			{
								
					var flag=0;
				 
					if ($('#emailid').val() == '' || $('#emailid').val() == null)
					{
						$('#email_id').html("Email id can't be blank.");
						
						flag=1;
					}
					
					else
				   	{
						    $('#email_id').html("");
					}
					
				   if ($('#mobilephone').val() == '' || $('#mobilephone').val() == null)
						{
							$('#mphone').html("Mobile phone can't be blank.");
							
							flag=1;
						}
						
					else
				   	{
						    $('#mphone').html("");
					}
						
				   
					if (flag==1)
					{
						return false;
						
					}
					else{		
						return true;
					}
			}
	   
	     </script>
        
        
    </head>
    <body>

        <div class="container">
            <div id="bgnav" class="navbar navbar-fixed-top navbar-inverse">
                <div id="navigation" role="navigation">

                    <div class="navbar-header">

                        <button id="btn_collapse" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navlink" style="color: white;" href='#Top'> 
                            <div id="logo"><p class="logo_txt">ProspectZen </p></div>



                        </a>

                    </div>
                    <div class="collapse navbar-collapse no-transition" id="side_scroll">
                        <ul id="pull_right" class="nav navbar-nav" >

                            <li id="else" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">What else does ProspectZen do? <b style="color:#fff" class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Instant Prospect Generator <br />Coming soon!</a></li>
                                    <li><a href="#">Instant 3D Home <br />Coming soon!</a></li>
                                </ul>
                            </li>
                            <li><a class="navlink" href="#">FAQs</a></li>
                            <li><a class="navlink" href="/homes/contact">Contact</a></li>
                            <li><a id="login" class="button" href="/homes/userlogin">LOGIN</a>

                        </ul>

                    </div><!-- /.nav-collapse -->

                </div><!-- /.navbar -->
            </div>
        </div>
        <!--End .container-->

        <div id="bg_wrapper">
            <div id="content_wrapper">
                <div id="user_for_pass">
                    <div id="user_for_pass_header">
                        Forgot password?
                    </div>
                    <div id="user_for_pass_body">
                        Enter your registered email address and mobile phone, you will receive an email with a link to reset your password.
                    </div>
                    
                    <div id="user_for_pass_form">
                        <div class="row">

                             <form action="/homes/checkuserexist" method="post" onsubmit="return dataValidation()">
                               
                                <p><input class="form-control" type="email" name="emailid" id="emailid" placeholder="Email ID"><span style="float:left; color: red;" class="error_msg" id="email_id"></span></p>
                                <div style="clear:both"></div>
                                <p><input class="form-control" type="text" name="mobilephone" id="mobilephone" placeholder="Mobile phone"><span style="float:left; color: red;" class="error_msg" id="mphone"></span></p>
                                <div style="clear:both"></div>
								<p><span style="color: red;" class="error_msg" id="data_match"></span></p>
                                <div style="clear:both"></div> 
                                <input id="usr_for_pass" type="submit" class="btn btn-embossed btn-primary" value="Reset Password">
                                <div id="user_login"><a href="/homes/userlogin">Login</a></div>
                                <div id="user_apply"><a href="/homes/signup">New user? Apply for access here</div>
                            
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <!--End #content_wrapper-->

        </div>
        <!--End #bg_wrapper-->


    </body>

</html>
