<!DOCTYPE html>
<html lang="en">
	<head>
		<title>ProspectZen</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
                <link rel="icon" href="/assets/favicon.ico" type="image/x-icon"> 
        <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
		<link href="/assets/bootstrap.css" rel="stylesheet">
		<link href="/assets/flat-ui.css" rel="stylesheet">
		<link href="/assets/reset.css" rel="stylesheet">
		<link href="/assets/style_user_problem.css" rel="stylesheet">

		<link href="/assets/mediaqueries_user_problem.css" rel="stylesheet">
		<script src="/assets/jquery.js"></script>
		<script type="text/javascript" src="/assets/jquery.customSelect.js"></script>

		<script src="/assets/bootstrap.min.js"></script>
		<script type="text/javascript">
			$(function() {

				$('select.styled').customSelect();

			});
		</script>

		<script>
			$(document).ready(function() {
                    
                var win_width=$(window).width();
                if(win_width>767){
                    $('.open > .dropdown-menu').css("margin-top","42px");
                }
                
				$('#what_about').focusin(function() {
					$('#wabout').html('');
				});

				$('#message').focusin(function() {
					$('#msg').html('');
				});

			});

			function dataValidation() {

				var flag = 0;

				if ($('#what_about').val() == '' || $('#what_about').val() == null) {
					$('#wabout').html("What is about can't be blank.");

					flag = 1;
				} else {
					$('#wabout').html("");
				}

				if ($('#message').val() == '' || $('#message').val() == null) {
					$('#msg').html("Message can't be blank.");

					flag = 1;
				} else {
					$('#msg').html("");
				}

				if (flag == 1) {
					return false;

				} else {
					return true;
				}
			}

		</script>

		<style type="text/css">
			.styled {
				margin-left: 50px;
				margin-top: 30px; 
			}
			span.customSelect {
				font-size: 15px;
				background-color: #fff;
				color: #7c7c7c;
				padding: 10px 10px;
				border: 2px solid #5cb85c;
				-moz-border-radius: 0px;
				-webkit-border-radius: 0px;
				border-radius: 0px;
			}
			span.customSelect.changed {
				background-color: #fff;
			}
			.customSelectInner {
				background: url(/assets/customSelect-arrow.gif) no-repeat center right;
				
			}
		</style>

	</head>
	<body>

		<div class="container">
			<div id="bgnav" class="navbar navbar-fixed-top navbar-inverse">
				<div id="navigation" role="navigation">

					<div class="navbar-header">

						<button id="btn_collapse" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

 					  <% if session[:current_user_id] %>      
		         
		                <a class="navlink" style="color: white;" href='/homes/viewmap'> 
                            <div id="logo"></div> </a>
                        
                       <% else %>	
                        <a class="navlink" style="color: white;" href='/homes/index'> 
                            <div id="logo"></div> </a>

                       <%end%>	

					</div>
					<div id="top_menu_scroll" class="collapse navbar-collapse no-transition">
						<ul id="pull_right" class="nav navbar-nav">

							<li id="else" class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">What else does ProspectZen do? <b style="color:#fff" class="caret"></b></a>
								<ul class="dropdown-menu">
									<li>
										<a href="#">Instant Prospect Generator
										<br />
										Coming soon!</a>
									</li>
									<li>
										<a href="#">Instant 3D Home
										<br />
										Coming soon!</a>
									</li>
								</ul>
							</li>
							<li id="faq">
								<a class="navlink" href="/homes/faq">FAQs</a>
							</li>

							<li id="setn" class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" >Settings<b style="color:#fff" class="caret"></b></a>
								<ul class="dropdown-menu">
									<li>
										<a href="/homes/userprofile">Profile</a>
									</li>
									<li>
										<a href="/homes/userpayment">Payment</a>
									</li>
									<li>
										<a href="/homes/purchaseitq">Purchases</a>
									</li>
									<li>
										<a href="/homes/userproblem">Problem?</a>
									</li>
								</ul>
							</li>
							<li>
								<form action="../homes/logout" method="post">
									<input id="login" class="form-control" type="submit" value="LOGOUT"/>

								</form>
							</li>

						</ul>

					</div><!-- /.nav-collapse -->

				</div><!-- /.navbar -->
			</div>
		</div>
		<!--End .container-->

		<div id="bg_wrapper">
			<div id="content_wrapper">
				<div id="sidebar_menu" style="float:left;">
					<ul id="menu_list" class="nav nav-pills nav-stacked">                        
                        <li id="profile"><a href="/homes/userprofile"><span style="margin-right:3px;font-size:13px;" class="glyphicon glyphicon-user"></span>Profile</a></li>
                        <li id="payment"><a href="/homes/userpayment"><span style="margin-right:3px;font-size:13px;" class="glyphicon glyphicon-credit-card"></span>Payment</a></li>
                         <li id="purchases"><a  class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span style="margin-right:3px;font-size:12px;" class="glyphicon glyphicon-list"></span>Purchases</a>
							<div id="collapseOne" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
										<li id="itq_panel">
											<a href="/homes/purchaseitq">Instant Prospect Qualifier</a>
										</li>
										<li id="itm_panel">
											<a href="#">Instant Prospect Generator</a>
										</li>
										<li id="ih_panel">
											<a href="#">Instant 3D Home</a>
										</li>
									</ul>
								</div>
							</div></li>
                        <li id="problem"><a href="/homes/userproblem"><span style="margin-right:3px;font-size:13px;" class="glyphicon glyphicon-question-sign"></span>Problem?</a></li>
					</ul>
				</div>
				<div id="menu_content" style="float:right;">
					<div id="menu_content_header" style="font-family:'latolig'">
						Tell us how we can help
					</div>
					<div id="menu_content_form">
						<div class="row">

							<form action='/homes/problemcreceipt' method='post' onsubmit="return dataValidation()">
								<p>
									<select class="styled" name="what_about" id="what_about" style="margin-left:0px;margin-right:15px">
										<option id="dis_able" disabled selected style="color:#A6BAC9" >What is this about?</option>

										<option>Inaccurate data</option>
										<option>Bug!</option>
										<option>Pricing</option>
										<option>Something else</option>
									</select>
									<span style="font-family:latolig;font-size:16px; color:red;" class="error_msg" id="wabout"></span>
								</p>

								<p>
									<textarea id="message" class="form-control" name="message"  id="message" rows="8" placeholder="Please include Transaction IDs if you are reporting inaccurate data"></textarea>
									<span style="font-family:latolig;font-size:16px; color:red;" class="error_msg" id="msg"></span>
								</p>

								<input id="sub_mit"type="submit" class="btn btn-embossed btn-primary" value="Submit">
							</form>

						</div>
					</div>

					<div id="menu_content_footer">
						You can also call us on 1800-123-456-7890 from Mon-Fri between 9am -5pm PST
					</div>
				</div>
				<div style="clear:left;"></div>

			</div>
			<!--End #content_wrapper-->
		</div>
		<!--End #bg_wrapper-->

	</body>

</html>
