<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Wattsun 
    </title>
    <link href="/assets/bootstrap.css" rel="stylesheet">
    <link href="/assets/reset.css" rel="stylesheet">
    <link href="/assets/stylepage2_test.css" rel="stylesheet">
    <link href="/assets/sunible.webflow.css" rel="stylesheet">
    
    <link href="/assets/mediaqueriespage2_test.css" rel="stylesheet">
    <script src="/assets/jquery.js">
    </script>
    <script src="/assets/bootstrap.js">
    </script>
    <script src="/assets/jquery.nicescroll.js">
    </script>
    <style>
      
    </style>
    
    
    
    
  </head>
  <body>
    
    <div class="container" id="menu_navigation">
      <div id="bgnav" class="navbar navbar-fixed-top navbar-inverse">
        
        <div class="navbar-header" id="navigation">
          
          <button id="btn_collapse" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">
              Toggle navigation
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
          </button>
          
          <div id="nav_search">
            <div id="logo_img">
              <a class="navlink" style="color: white;" href='/homes/viewmap'>
                <img class="brand" src="/assets/wattsun_logo.png" width="100%" alt="wattsun">
              </a>
            </div>
            <div id="search_bar">
              <input id="loc_search" class="form-control" type="text" autocomplete="on" autofocus="autofocus" jstcache="0" placeholder="Enter a location" value="1245 California Street, San Francisco, CA, United States">
              <div id="search_error" style="font-family:'latoreg';padding-top:2px;color:red" >
                This is not a valid address
              </div>
            </div>
            <div style="clear:both">
            </div>
            
            
          </div>
          
          
          
          
          <div class="collapse navbar-collapse no-transition"  id="pull_right" >
            <ul class="nav navbar-nav">
              
              <li id="else" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  What else does WattSun do? 
                  <b style="color:#fff" class="caret">
                  </b>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#">
                      Instant Target Map
                      <br />
                      Coming soon!
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Instant 3D Home
                      <br />
                      Coming soon!
                    </a>
                  </li>
                </ul>
              </li>
              <li id="faq">
                <a class="navlink" href="/homes/faq">
                  FAQs
                </a>
              </li>
              
              <li id="setn" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Settings
                  <b style="color:#fff" class="caret">
                  </b>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="/homes/userprofile">
                      Profile
                    </a>
                  </li>
                  <li>
                    <a href="/homes/userpayment">
                      Payment
                    </a>
                  </li>
                  <li>
                    <a href="/homes/purchaseitq">
                      Purchases
                    </a>
                  </li>
                  <li>
                    <a href="/homes/userproblem">
                      Problem?
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <form action="../homes/logout" method="post">
                  <input id="login" class="form-control" type="submit" value="Logout"/>
                  
                </form>
              </li>
              
            </ul>
            
          </div>
          <!-- /.nav-collapse -->
          <div style="clear:both">
          </div>
        </div>
        <!-- /.nav-collapse -->
        
        
        <div style="clear:both">
        </div>
      </div>
    </div>
    <!--End .container-->
    
    
    
    <div id="panel_container">
      <div id="panel_container_content">
        
        <div id="panel_search_result">
          Panel search resultfsdfsadfsd fsadfsdaff fsdfsfsafsafsfdsafasdfsa
        </div>
        
        
        <div id="panel_menu">
          <div id="panel_menu_show">
            SHOW
          </div>
          <div id="panel_menu_content">
            <ul class="nav nav-pills">
              
              <li class="active" id="everything">
                <a href="#home" data-toggle="tab">
                  Everything
                </a>
              </li>
              <li id="check_owner2">
                <a href="#owner" data-toggle="tab">
                  Owner
                </a>
              </li>
              
              <li id="check_property2">
                <a href="#property" data-toggle="tab">
                  Property
                </a>
              </li>
              
              <li id="check_utility2">
                <a href="#utility" data-toggle="tab">
                  Utility
                </a>
              </li>
              
              <li id="check_market_intelligence2">
                <a href="#mar_int" data-toggle="tab">
                  Market Intelligence
                </a>
              </li>
              
              <li id="check_other">
                <a href="#other" data-toggle="tab">
                  Other
                </a>
              </li>
              <li id="check_D_home">
                <a href="#dhome" data-toggle="tab">
                  3D Home
                </a>
              </li>
            </ul>
          </div>
          <div style="clear:both">
          </div>
        </div>
        
        <div id="panel_table_content">
          
          <!-- Tab panes -->
          
          
          <div class="tab-content">
            
            
            
            
            
            <div class="tab-pane active" id="home">
              <div class="table-responsive" id="prev_chk" style="overflow-x: hidden;">
                <table class="table">
                  <tr>
                    <td class="left_data">
                      <div>
                        <span data-toggle="tooltip" data-original-title="owner_text" class="tool_tips green-tooltip">
                          PREVIOUS CHECKS
                        </span>
                      </div>
                    </td>
                    <td class="right_data">
                      <span id="prev_checks">
                        4
                      </span>
                    </td>
                  </tr>
                </table>
                
                
              </div>
              
              
              <!--end previous checks-->
              
              <hr class="style-one" />
              
              <div class="table-responsive">
                <table class="table">
                  <caption class="capt">
                    OWNER
                  </caption>
                  <tr id="own1">
                    <td class="left_data">
                      <div>
                        <span data-toggle="tooltip" data-original-title="owner_text" class="tool_tips green-tooltip">
                          Name of Owner
                        </span>
                    
                      </div>
                    </td>
                    <td class="right_data">
                      <span id='owner_name1'>
                        fdsa
                      </span>
                    </td>
                  </tr>
                  <tr id="ma1">
                    <td class="left_data">
                      <div>
                        <span data-toggle="tooltip" data-original-title="mail text" class="tool_tips green-tooltip">
                          Mailing Address
                        </span>
                      </div>
                    </td>
                    <td class="right_data">
                      <span id='mailing_address1'>
                        fsafdsafsdafsfsdfsdfdsfafsadfdfdfabcds
                      </span>
                    </td>
                  </tr>
                  <tr id="oo1">
                    <td class="left_data">
                      <div>
                        <span data-toggle="tooltip" data-original-title="owner_text" class="tool_tips green-tooltip">
                          Owner Occupied?
                        </span>
                      </div>
                    </td>
                    <td class="right_data">
                      <span id='owner_occupied1'>
                        fas
                      </span>
                    </td>
                  </tr>
                  <tr id="ecs1">
                    <td class="left_data">
                      <div>
                        <span data-toggle="tooltip" data-original-title="owner_text" class="tool_tips green-tooltip">
                          Estimated Credit Score
                        </span>
                      </div>
                    </td>
                    <td class="right_data">
                      <span id='est_credit_score1'>
                        fsadf
                      </span>
                    </td>
                  </tr>
                  <tr id="eai1">
                    <td class="left_data">
                      <div>
                        <span data-toggle="tooltip" data-original-title="owner_text" class="tool_tips green-tooltip">
                          Estimated Annual Income
                        </span>
                      </div>
                    </td>
                    <td class="right_data">
                      <span id='est_annual_income1'>
                        fsad
                      </span>
                    </td>
                  </tr>
                  
                </table>
              </div>
              
              <!--end owner-->
              <hr class="style-one" />
              
              <div class="table-responsive">
                <table class="table">
                  <caption class="capt">
                    PROPERTY
                  </caption>
                  <tr id="typ1">
                    <td class="left_data">
                      <div>
                        <span data-toggle="tooltip" data-original-title="owner_text" class="tool_tips green-tooltip">
                          Type
                        </span>
                      </div>
                    </td>
                    <td class="right_data">
                      <span id='residential_type1'>
                          fsdfsafas
                      </span>
                    </td>
                  </tr>
                  <tr id="aoh1">
                    <td class="left_data">
                      <div>
                        <span data-toggle="tooltip" data-original-title="owner_text" class="tool_tips green-tooltip">
                          Age of Home
                        </span>
                      </div>
                    </td>
                    <td class="right_data">
                      <span id='age_of_home1'>
                          
                      </span>
                    </td>
                  </tr>
                  <tr id="ga1">
                    <td class="left_data">
                      <div>
                        <span data-toggle="tooltip" data-original-title="owner_text" class="tool_tips green-tooltip">
                          Gross Area
                        </span>
                      </div>
                    </td>
                    <td class="right_data">
                      <span id='gross_area1'>
                      </span>
                    </td>
                  </tr>
                  <tr id="bd1">
                    <td class="left_data">
                      <div>
                        <span data-toggle="tooltip" data-original-title="owner_text" class="tool_tips green-tooltip">
                          Bedrooms
                        </span>
                      </div>
                    </td>
                    <td class="right_data">
                      <span id='bedroom1'>
                      </span>
                    </td>
                  </tr>
                  <tr id="bt1">
                    <td class="left_data">
                      <div>
                        <span data-toggle="tooltip" data-original-title="owner_text" class="tool_tips green-tooltip">
                          Bedrooms(Full/Half)
                        </span>
                      </div>
                    </td>
                    <td class="right_data">
                      <span id='bedroom_type1'>
                      </span>
                    </td>
                  </tr>
                  <tr id="ht1">
                    <td class="left_data">
                      <div>
                        <span data-toggle="tooltip" data-original-title="owner_text" class="tool_tips green-tooltip">
                          Heating Type
                        </span>
                      </div>
                    </td>
                    <td class="right_data">
                      <span id='heat_type1'>
                      </span>
                    </td>
                  </tr>
                  <tr id="hf1">
                    <td class="left_data">
                      <div>
                        <span data-toggle="tooltip" data-original-title="owner_text" class="tool_tips green-tooltip">
                          Heating Fuel
                        </span>
                      </div>
                    </td>
                    <td class="right_data">
                      <span id='heat_fuel1'>
                      </span>
                    </td>
                  </tr>
                  <tr id="rt1">
                    <td class="left_data">
                      <div>
                        <span data-toggle="tooltip" data-original-title="owner_text" class="tool_tips green-tooltip">
                          Roof Type
                        </span>
                      </div>
                    </td>
                    <td class="right_data">
                      <span id='roof_type1'>
                      </span>
                    </td>
                  </tr>
                  <tr id="rm1">
                    <td class="left_data">
                      <div>
                        <span data-toggle="tooltip" data-original-title="owner_text" class="tool_tips green-tooltip">
                          Roof Material
                        </span>
                      </div>
                    </td>
                    <td class="right_data">
                      <span id='roof_material1'>
                      </span>
                    </td>
                  </tr>
                  <tr id="rc1">
                    <td class="left_data">
                      <div>
                        <span data-toggle="tooltip" data-original-title="owner_text" class="tool_tips green-tooltip">
                          Roof Condition
                        </span>
                      </div>
                    </td>
                    <td class="right_data">
                      <span id='roof_condition1'>
                      </span>
                    </td>
                  </tr>
                </table>
              </div>
              
              <!--end property-->
              <hr class="style-one" />

              
              <div class="table-responsive">
                <table class="table">
                  
                  
                  <tr>
                    
                    <td>
                      <div>
                        <span data-toggle="tooltip" data-original-title="owner_text" class="tool_tips green-tooltip" style="font-family:'latobold'">
                          MARKET INTELLIGENCE
                        </span>
                      </div>
                    </td>
                    
                    <td style="padding-left:22px;">
                      <input type="radio" name="type1" id="changetype-city" value="city" data-toggle="radio" >
                      <label for="changetype-city" class="radio" style='display: inline'>
                        City
                      </label>
                      
                      <input type="radio" name="type1" id="changetype-zip" checked='checked' value="zip">
                      <label for="changetype-zip" style='display: inline'>
                        Zip
                      </label>
                      
                    </td>
                    
                    
                  </tr>
                  
                  <tr>
                    <td class="mi_tab_result_pad" style="padding:15px;width:33%">
                      <div>
                        <span data-toggle="tooltip" data-original-title="owner_text" class="tool_tips green-tooltip">
                          Solar Homes
                        </span>
                      </div>
                      <div id='solar_homes1' class="mi_tab_result">
                        1,234
                      </div>
                    </td>
                    <td class="mi_tab_result_pad" style="padding:15px;width:33%">
                      <div>
                        <span data-toggle="tooltip" data-original-title="owner_text" class="tool_tips green-tooltip">
                          3rd Party
                        </span>
                      </div>
                      <div id='3rd_party1' class="mi_tab_result">
                        100%
                      </div>
                    </td>
                    <td class="mi_tab_result_pad" style="padding:15px;width:33%">
                      <div>
                        <span data-toggle="tooltip" data-original-title="owner_text" class="tool_tips green-tooltip">
                          Avg. System
                        </span>
                      </div>
                      <div id='average_system1' class="mi_tab_result">
                        99.99kW
                      </div>
                      
                    </td>
                  </tr>
                  
                </table>
              </div>
              
              <div class="table-responsive">
                <table class="table">
                  <tr>
                    <td class="left_data" rowspan="5">
                      <div>
                        <span data-toggle="tooltip" data-original-title="top panel brands" class="tool_tips green-tooltip">
                          Top Installers
                        </span>
                      </div>
                    </td>
                    <td class="right_data">
                      <span id='heat_type1'>
                        Skytech Solatr
                      </span>
                    </td>
                    
                  </tr>
                  
                  <tr>
                    <td class="right_data">
                      <span id='heat_type1'>
                        Luminalt Energy
                      </span>
                    </td>
                    
                  </tr>
                  <tr>
                    <td class="right_data">
                      <span id='heat_type1'>
                        Solar City
                      </span>
                    </td>
                    
                  </tr>
                  <tr>
                    <td class="right_data">
                      <span id='heat_type1'>
                        Sungevity
                      </span>
                    </td>
                    
                  </tr>
                  <tr>
                    <td class="right_data">
                      <span id='heat_type1'>
                        Occidental Power
                      </span>
                    </td>
                    
                  </tr>
                  
                  
                  <tr>
                    <td class="left_data" rowspan="5">
                      <div>
                        <span data-toggle="tooltip" data-original-title="top panel brands" class="tool_tips green-tooltip">
                          Top Inverter Brands
                        </span>
                      </div>
                    </td>
                    <td class="right_data">
                      <span id='heat_type1'>
                        Sun Power
                      </span>
                    </td>
                    
                  </tr>
                  
                  <tr>
                    <td class="right_data">
                      <span id='heat_type1'>
                        Emphase
                      </span>
                    </td>
                    
                  </tr>
                  <tr>
                    <td class="right_data">
                      <span id='heat_type1'>
                        Fronius
                      </span>
                    </td>
                    
                  </tr>
                  <tr>
                    <td class="right_data">
                      <span id='heat_type1'>
                        Kaco
                      </span>
                    </td>
                    
                  </tr>
                  <tr>
                    <td class="right_data">
                      <span id='heat_type1'>
                        SMA
                      </span>
                    </td>
                    
                  </tr>
                  
                  
                </table>
              </div>
              
              
              
              
              
              
              
              
              
              
              
              
            </div>
            <!--end everything-->
            
            
            
            <div class="tab-pane" id="owner">
              <div class="table-responsive">
                <table class="table">
                  <caption class="capt">
                    OWNER
                  </caption>
                  <tr id="own1">
                    <td class="left_data">
                      <div>
                        <span data-toggle="tooltip" data-original-title="owner_text" class="tool_tips green-tooltip">
                          Name of Owner
                        </span>
                    
                      </div>
                    </td>
                    <td class="right_data">
                      <span id='owner_name1'>
                        fdsa
                      </span>
                    </td>
                  </tr>
                  <tr id="ma1">
                    <td class="left_data">
                      <div>
                        <span data-toggle="tooltip" data-original-title="mail text" class="tool_tips green-tooltip">
                          Mailing Address
                        </span>
                      </div>
                    </td>
                    <td class="right_data">
                      <span id='mailing_address1'>
                        fsafdsafsdafsfsdfsdfdsfafsadfdfdfabcds
                      </span>
                    </td>
                  </tr>
                  <tr id="oo1">
                    <td class="left_data">
                      <div>
                        <span data-toggle="tooltip" data-original-title="owner_text" class="tool_tips green-tooltip">
                          Owner Occupied?
                        </span>
                      </div>
                    </td>
                    <td class="right_data">
                      <span id='owner_occupied1'>
                        fas
                      </span>
                    </td>
                  </tr>
                  <tr id="ecs1">
                    <td class="left_data">
                      <div>
                        <span data-toggle="tooltip" data-original-title="owner_text" class="tool_tips green-tooltip">
                          Estimated Credit Score
                        </span>
                      </div>
                    </td>
                    <td class="right_data">
                      <span id='est_credit_score1'>
                        fsadf
                      </span>
                    </td>
                  </tr>
                  <tr id="eai1">
                    <td class="left_data">
                      <div>
                        <span data-toggle="tooltip" data-original-title="owner_text" class="tool_tips green-tooltip">
                          Estimated Annual Income
                        </span>
                      </div>
                    </td>
                    <td class="right_data">
                      <span id='est_annual_income1'>
                        fsad
                      </span>
                    </td>
                  </tr>
                  
                </table>
              </div>
              
              <!--end owner-->
            </div>
            
            <div class="tab-pane" id="property">
              <div class="table-responsive">
                <table class="table">
                  <caption class="capt">
                    PROPERTY
                  </caption>
                  <tr id="typ1">
                    <td class="left_data">
                      <div>
                        <span data-toggle="tooltip" data-original-title="owner_text" class="tool_tips green-tooltip">
                          Type
                        </span>
                      </div>
                    </td>
                    <td class="right_data">
                      <span id='residential_type1'>
                          fsdfsafas
                      </span>
                    </td>
                  </tr>
                  <tr id="aoh1">
                    <td class="left_data">
                      <div>
                        <span data-toggle="tooltip" data-original-title="owner_text" class="tool_tips green-tooltip">
                          Age of Home
                        </span>
                      </div>
                    </td>
                    <td class="right_data">
                      <span id='age_of_home1'>
                          
                      </span>
                    </td>
                  </tr>
                  <tr id="ga1">
                    <td class="left_data">
                      <div>
                        <span data-toggle="tooltip" data-original-title="owner_text" class="tool_tips green-tooltip">
                          Gross Area
                        </span>
                      </div>
                    </td>
                    <td class="right_data">
                      <span id='gross_area1'>
                      </span>
                    </td>
                  </tr>
                  <tr id="bd1">
                    <td class="left_data">
                      <div>
                        <span data-toggle="tooltip" data-original-title="owner_text" class="tool_tips green-tooltip">
                          Bedrooms
                        </span>
                      </div>
                    </td>
                    <td class="right_data">
                      <span id='bedroom1'>
                      </span>
                    </td>
                  </tr>
                  <tr id="bt1">
                    <td class="left_data">
                      <div>
                        <span data-toggle="tooltip" data-original-title="owner_text" class="tool_tips green-tooltip">
                          Bedrooms(Full/Half)
                        </span>
                      </div>
                    </td>
                    <td class="right_data">
                      <span id='bedroom_type1'>
                      </span>
                    </td>
                  </tr>
                  <tr id="ht1">
                    <td class="left_data">
                      <div>
                        <span data-toggle="tooltip" data-original-title="owner_text" class="tool_tips green-tooltip">
                          Heating Type
                        </span>
                      </div>
                    </td>
                    <td class="right_data">
                      <span id='heat_type1'>
                      </span>
                    </td>
                  </tr>
                  <tr id="hf1">
                    <td class="left_data">
                      <div>
                        <span data-toggle="tooltip" data-original-title="owner_text" class="tool_tips green-tooltip">
                          Heating Fuel
                        </span>
                      </div>
                    </td>
                    <td class="right_data">
                      <span id='heat_fuel1'>
                      </span>
                    </td>
                  </tr>
                  <tr id="rt1">
                    <td class="left_data">
                      <div>
                        <span data-toggle="tooltip" data-original-title="owner_text" class="tool_tips green-tooltip">
                          Roof Type
                        </span>
                      </div>
                    </td>
                    <td class="right_data">
                      <span id='roof_type1'>
                      </span>
                    </td>
                  </tr>
                  <tr id="rm1">
                    <td class="left_data">
                      <div>
                        <span data-toggle="tooltip" data-original-title="owner_text" class="tool_tips green-tooltip">
                          Roof Material
                        </span>
                      </div>
                    </td>
                    <td class="right_data">
                      <span id='roof_material1'>
                      </span>
                    </td>
                  </tr>
                  <tr id="rc1">
                    <td class="left_data">
                      <div>
                        <span data-toggle="tooltip" data-original-title="owner_text" class="tool_tips green-tooltip">
                          Roof Condition
                        </span>
                      </div>
                    </td>
                    <td class="right_data">
                      <span id='roof_condition1'>
                      </span>
                    </td>
                  </tr>
                </table>
              </div>
              
              <!--end property-->
            </div>
            
            <div class="tab-pane" id="utility">
              d
            </div>
            
            <div class="tab-pane" id="mar_int">
              <div class="table-responsive">
                <table class="table">
                  
                  
                  <tr>
                    
                    <td>
                      <div>
                        <span data-toggle="tooltip" data-original-title="owner_text" class="tool_tips green-tooltip" style="font-family:'latobold'">
                          MARKET INTELLIGENCE
                        </span>
                      </div>
                    </td>
                    
                    <td style="padding-left:22px;">
                      <input type="radio" name="type1" id="changetype-city" value="city" data-toggle="radio" >
                      <label for="changetype-city" class="radio" style='display: inline'>
                        City
                      </label>
                      
                      <input type="radio" name="type1" id="changetype-zip" checked='checked' value="zip">
                      <label for="changetype-zip" style='display: inline'>
                        Zip
                      </label>
                      
                    </td>
                    
                    
                  </tr>
                  
                  <tr>
                    <td class="mi_tab_result_pad" style="padding:15px;width:33%">
                      <div>
                        <span data-toggle="tooltip" data-original-title="owner_text" class="tool_tips green-tooltip">
                          Solar Homes
                        </span>
                      </div>
                      <div id='solar_homes1' class="mi_tab_result">
                        1,234
                      </div>
                    </td>
                    <td class="mi_tab_result_pad" style="padding:15px;width:33%">
                      <div>
                        <span data-toggle="tooltip" data-original-title="owner_text" class="tool_tips green-tooltip">
                          3rd Party
                        </span>
                      </div>
                      <div id='3rd_party1' class="mi_tab_result">
                        100%
                      </div>
                    </td>
                    <td class="mi_tab_result_pad" style="padding:15px;width:33%">
                      <div>
                        <span data-toggle="tooltip" data-original-title="owner_text" class="tool_tips green-tooltip">
                          Avg. System
                        </span>
                      </div>
                      <div id='average_system1' class="mi_tab_result">
                        99.99kW
                      </div>
                      
                    </td>
                  </tr>
                  
                </table>
              </div>
              
              <div class="table-responsive">
                <table class="table">
                  <tr>
                    <td class="left_data" rowspan="5">
                      <div>
                        <span data-toggle="tooltip" data-original-title="top panel brands" class="tool_tips green-tooltip">
                          Top Installers
                        </span>
                      </div>
                    </td>
                    <td class="right_data">
                      <span id='heat_type1'>
                        Skytech Solatr
                      </span>
                    </td>
                    
                  </tr>
                  
                  <tr>
                    <td class="right_data">
                      <span id='heat_type1'>
                        Luminalt Energy
                      </span>
                    </td>
                    
                  </tr>
                  <tr>
                    <td class="right_data">
                      <span id='heat_type1'>
                        Solar City
                      </span>
                    </td>
                    
                  </tr>
                  <tr>
                    <td class="right_data">
                      <span id='heat_type1'>
                        Sungevity
                      </span>
                    </td>
                    
                  </tr>
                  <tr>
                    <td class="right_data">
                      <span id='heat_type1'>
                        Occidental Power
                      </span>
                    </td>
                    
                  </tr>
                  
                  
                  <tr>
                    <td class="left_data" rowspan="5">
                      <div>
                        <span data-toggle="tooltip" data-original-title="top panel brands" class="tool_tips green-tooltip">
                          Top Inverter Brands
                        </span>
                      </div>
                    </td>
                    <td class="right_data">
                      <span id='heat_type1'>
                        Sun Power
                      </span>
                    </td>
                    
                  </tr>
                  
                  <tr>
                    <td class="right_data">
                      <span id='heat_type1'>
                        Emphase
                      </span>
                    </td>
                    
                  </tr>
                  <tr>
                    <td class="right_data">
                      <span id='heat_type1'>
                        Fronius
                      </span>
                    </td>
                    
                  </tr>
                  <tr>
                    <td class="right_data">
                      <span id='heat_type1'>
                        Kaco
                      </span>
                    </td>
                    
                  </tr>
                  <tr>
                    <td class="right_data">
                      <span id='heat_type1'>
                        SMA
                      </span>
                    </td>
                    
                  </tr>
                  
                  
                </table>
              </div>
            </div>
            
            <div class="tab-pane" id="other">
              f
            </div>
            
            <div class="tab-pane" id="dhome">
              <div id="model_avilable">High resolution 3D model available for this property</div>
              
              <div id="features">
                  <ul>
                    <li>View instantly in your browser</li>
                      <li>Export to CAD/Sketch Up</li>
                      <li>Inspect each of roof plane with 6-inch accuracy</li>
                      <li>Maximize system size by 'seeing more of the roof'</li>
                      <li>Shorten or eliminate your preliminary site survey</li>
                      <li>Design code compliant systems the very first time</li>
                      <li>Include in your quote and impress your customers</li>
                    </ul>
                </div>
                
                <div id="dhome">
                    <button class="btn btn-hg btn-primary">
                      Buy 3D Home
                    </button>
                </div>
                
            </div>
            
          </div>
          
          
        </div>
        
      </div>
      <div id="panel_container_sidebar">
        <span id="side" class="glyphicon glyphicon-chevron-left">
        </span>
      </div>
      <div style="clear:both">
      </div>
    </div>
    <!--            End panel container                               -->
    
    
    
    
    <script>
      $(document).ready(function(){
          
          //        content table starts  
          $('body').css("overflowY","hidden");
          
          
          
    
          
          
//        content table ends  

        $(".tool_tips").tooltip({
          placement : 'top'
        }
        );
          
        $('#panel_container_sidebar').on('click', '.glyphicon-chevron-left', function() {
                
                    var panel_width=$('#panel_container').width()-24;
					$("#panel_container").animate({
						'margin-left' : -panel_width
					}, 'slow');
                   $("#panel_container").find("#side").removeClass("glyphicon glyphicon-chevron-left");
                   $("#panel_container").find("#side").addClass("glyphicon glyphicon-chevron-right");

        });
        $('#panel_container_sidebar').on('click', '.glyphicon-chevron-right', function() {

//				var side_class=$('#side').attr('class');
//                if(side_class=="glyphicon glyphicon-chevron-right"){
//                
//                }

					$("#panel_container").animate({
						'margin-left' : "0px"
					}, 'slow');
                   $("#panel_container").find("#side").removeClass("glyphicon glyphicon-chevron-right");
                   $("#panel_container").find("#side").addClass("glyphicon glyphicon-chevron-left");

        });
        
        var win_width=$(window).width();
        if(win_width>942){
          
          fun4();
          fun1();
            cal_height1();
        }
        
        else if(win_width<=942 && win_width>=768 ){
          
          fun4();
          fun2();
          cal_height2();
        }
        
        
        else if(win_width<=767){
          
          fun3();
            cal_height3();
        }
        
      });
      
      $(window).resize(function(){
        
          
          
        var win_width=$(window).width();
        if(win_width>942){
          
          fun4();
          fun1();
          cal_height1();
        }
        
        else if(win_width<=942 && win_width>=768 ){
          
          fun4();
          fun2();
          cal_height2();
        }
        
        else if(win_width<=767){
          
          fun3();
          cal_height2();

        }

    
        
      });
      
        
    function cal_height1(){
            
            var win_height=$(window).height();  
            var nav_height=$('#bgnav').innerHeight();
            var srch_height=$('#panel_search_result').innerHeight();  
            var menu_tab_height=$('#panel_menu').innerHeight(); 
            var total_fixed=win_height-(nav_height+srch_height+menu_tab_height);
            //alert(win_height);
            //console.log(win_height,nav_height,srch_height,menu_tab_height);
            $('#panel_container').css({"margin-top":nav_height});
            $('#panel_table_content').css({"height":total_fixed,"overflowY":"hidden"}); 
            $("#panel_table_content").niceScroll({
					styler : "fb",
					cursorcolor : "#5cb85c",
					cursorwidth : '6',
					cursorborderradius : '10px',
					background : '#404040',
					spacebarenabled : false,
					cursorborder : '',
					zindex : '1000'
            });
        
        
    }    
    
    function cal_height2(){
        
            //alert("fsdfas");
            var win_height=$(window).height();  
            var nav_height=$('#bgnav').innerHeight();
            var srch_height=$('#panel_search_result').innerHeight();  
            var menu_tab_height=$('#panel_menu').innerHeight();
            var abs_google_srch=$('#loc_search').innerHeight();
            var error_message_height=$('#search_error').innerHeight();
            var total_fixed=win_height-(nav_height+srch_height+menu_tab_height+abs_google_srch+error_message_height);
        
            $('#panel_container').css("margin-top",nav_height+abs_google_srch+error_message_height);
            $('#panel_table_content').css({"height":total_fixed,"overflowY":"hidden"}); 
            $("#panel_table_content").niceScroll({
					styler : "fb",
					cursorcolor : "#5cb85c",
					cursorwidth : '6',
					cursorborderradius : '10px',
					background : '#404040',
					spacebarenabled : false,
					cursorborder : '',
					zindex : '1000'
            });
    
    }
    
    function cal_height3(){
        
            //alert("fsdfas");
            var win_height=$(window).height();  
            var nav_height=$('#bgnav').innerHeight();
            var srch_height=$('#panel_search_result').innerHeight();  
            var menu_tab_height=$('#panel_menu').innerHeight();
            var abs_google_srch=$('#loc_search').innerHeight();
            var error_message_height=$('#search_error').innerHeight();
            var total_fixed=win_height-(nav_height+srch_height+menu_tab_height+abs_google_srch+error_message_height);
           
//            alert("navi"+nav_height);
//            alert("search"+srch_height);
//            alert("menu_tab"+menu_tab_height);
//            alert("googlesearch"+abs_google_srch);
//            alert("err_msg"+error_message_height);
        
            //console.log(win_height,nav_height,srch_height,menu_tab_height,abs_google_srch,error_message_height);
            $('#panel_container').css("margin-top",nav_height+abs_google_srch+error_message_height+5);
            $('#panel_table_content').css({"height":total_fixed,"overflowY":"scroll"}); 
            $("#panel_table_content").niceScroll({
					styler : "fb",
					cursorcolor : "#5cb85c",
					cursorwidth : '6',
					cursorborderradius : '10px',
					background : '#404040',
					spacebarenabled : false,
					cursorborder : '',
					zindex : '1000'
            });
    
    }
        
        
      function fun1(){
        $('#search_bar').css("position","relative");
        $('#loc_search').css("border","0px");
        $('#search_bar').css("margin-top","0px");
        $('#loc_search').removeAttr('style');
        $('#nav_search').removeAttr('style');
        $('#bgnav').removeAttr('style');
        
      }
      
      function fun2(){
        var win_width= parseInt($(window).width(),10);
        
        var center_width=(win_width*92)/100;
        var nav_height=$('.container').height();
        $('#search_bar').css("position","absolute");
        $('#loc_search').css("border","1px solid #bdc3c7");
        $('#search_bar').css("border","0px");
        $('#search_bar').css("margin-top","69px");
        $('#loc_search').css("width",center_width);
        $('#nav_search').css("width","50px");
        $('#bgnav').removeAttr('style');
        
        
      }
      
      function fun3(){
        

        $('#pull_right').addClass('respons');
        var win_width= parseInt($(window).width(),10);
        
        var center_width=(win_width*92)/100;
        var nav_height=$('.container').height();
        $('#search_bar').css("position","absolute");
        $('#loc_search').css("border","1px solid #bdc3c7");
        $('#search_bar').css("margin-top","69px");
        $('#loc_search').css("width",center_width);
        $('#nav_search').css("width","50px");
        $('#search_bar').css("margin-top","61px");
        $('#bgnav').css("padding","13px 0px 10px 0px");
      }
      
      
      function fun4(){

        $('#pull_right').removeClass('respons');
      }
      
    </script>
  </body>
</html>