@font-face {
    font-family:'latobold';
    src: url('../assets/Lato-Bold.ttf') format('truetype');
}
@font-face {
    font-family:'latolig';
    src: url('../assets/Lato-Lig.ttf') format('truetype');
}
@font-face {
    font-family: 'latoreg';
    src: url('../assets/Lato-Regular.ttf') format('truetype');
}
body{
    font-family:arial;
    background:transparent;
    letter-spacing: .8px;
}

/*
navigation start
*/
#pull_right{
    float:right;
}
div.navbar-collapse.collapse.in{
    background:#5cb85c;
    margin-top:4px;
    margin-bottom:10px;
    color:#fff;

}
#btn_collapse{
    background:#23A204;
    border-radius: 0px;
    border: 0px;
    margin-top:30px;
}
.navlink{
    font-family:'latoreg';
    margin-top:20px;
}
#login{
    margin-top:26px;
    color:#fff;
    background:#5cb85c;
    border:2px solid #fff;
    height: 41px;
font-size: 15px;
line-height: 5px;
}
#login:hover{
    background-color: #fff;
    color:#23A204; 
}
.navbar-collapse{
    border:none;
}
.navbar{
    border-bottom:none;
}
#bgnav{
    width:100%;
    background: #5cb85c;
    padding:6px 0px 4px 0px;
    
}
#navigation{
    background: #5cb85c;
    width:92%;
    margin:0 auto;


}
html {
-webkit-font-smoothing: antialiased;
}

.navbar-inverse .navbar-nav>li>a{
    color:#fff;
font-family:'latobold';
font-weight: 100;
letter-spacing:0;
font-size: 15px
}
.caret {
border-width: 5px 5px;
margin-top:-2px;
}
.nav > li > a {
padding: 16px 16px;
}
.navbar-inverse .navbar-nav>li>a:hover{
    color:#fff;
}
#logo{
    width:100px;
    height: 100px;
    background:url('../assets/wattsun_logo.png');
    background-size: 100px 100px;
}
.logo_txt{
    color:#fff;
    font-size: 34px;
    font-family: 'latoreg';
    font-weight:200;
    padding-top:30px;
    padding-left: 115px;
}
#else{
    margin-top:20px;
    font-family: 'latoreg';
}
.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #FFFFFF;
    border-bottom-color: #fff;
}
.navbar-inverse .navbar-nav > .dropdown > a .caret:hover {
    border-top-color: #FFFFFF;
    border-bottom-color: #fff;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color:transparent;
}
.navbar-nav > li > .dropdown-menu {

    border-radius: 0px;
}
.open > .dropdown-menu {
    margin-top: 29px !important;
}
.navbar-inverse .navbar-nav > .open > .dropdown-menu > li > a {
    color: #e1e4e7;
    border-radius: 0px;
    font-size: 17px;
}
.navbar-inverse .navbar-nav > .open > .dropdown-menu {
    background-color: #000;
}
.navbar-inverse .navbar-nav > .open > .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav > .open > .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color:#5cb85c;
}
.navbar-inverse .navbar-nav > .open > .dropdown-menu{
    padding:10px 0 10px 0px;
}
.dropdown-menu{
    -webkit-transition: 0;
    transition: 0;
}
b .caret:focus{
    background:#fff;
}
/*
wrappers
*/
#bg_wrapper{
    width:100%;
}
#content_wrapper{
    width:92%;
    margin:0 auto;
}

#apply_con{
    margin-top:145px;
    font-family:'latoreg';
    line-height: 50px;
}
#apply_con_header{
    font-size:24px;
    margin-bottom:10px;
    font-weight:100;
}
#apply_con_body{
    font-size:20px;
    margin-bottom:10px;
    width:50%;
    line-height: 26px;
}
.btn-primary{
    margin-top: 20px;
    width: 120px;
    background-color: #5cb85c;
    margin-left:16px;
    border-radius: 0px;
}
.btn-primary:hover{
    background-color: #5cb85c;
    
}